* {
  background: scroll;
  background-color: #91f9e5;
}

.Title {
  margin: 10px auto;
  width: 50%;
  height: auto;
  padding: 10px 0px;
  text-align: center;
}

h1 {
  color: #499167;
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
}

.Recipes {
  margin: 0px auto;
  width: 50%;
  height: auto;
}

.Recipes-list {
  list-style: none;
  padding-right: 50px;
  text-align: center;
}

.Recipes li {
  margin-bottom: 24px;
}

.recipe-link {
  color: #3f4531;
  font-size: 30px;
  font-family: cursive;
}
