* {
    background: scroll;
    background-color: cadetblue;
  }
  
  h1 {
    font-family: "Courier New", Courier, monospace;
    color: black;
    font-size: 45px;
    text-align: center;
    padding: 10px;
  }

  .recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    border-radius: 20px;
    border: 5px solid black;
  }
  
  .description {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: saddlebrown;
  }
  
  .description.text {
    font-family: "Sans Serif", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    border: 5px solid grey;
    border-radius: 20px;
  
    /* center text */
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    height: auto;
    width: auto;
    justify-content: left;
  }
  
  .ingredients {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: saddlebrown;
  }
  
  .ingredients.list {
    font-family: "Sans Serif", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    text-align: left;
    width: 40%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
  
    /* Separate items from each other */
    padding: 10px;
    height: auto;
  }
  
  .ingredients.list li {
    margin-bottom: 10px;
  }
  
  .steps {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: saddlebrown;
  }
  
  .steps.list {
    font-family: "Sans Serif", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    text-align: left;
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 35%;
  }
  
  .steps.list li {
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    justify-content: left;
  }
  