@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  background: scroll;
  background-color: #91f9e5;
}

.logo {
  margin: 10px auto;
  width: 50%;
  height: auto;
  text-align: center;
}

.logo img {
  width: 20%;
  height: auto;
}

.title {
  margin: 10px auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.title h1 {
  color: #499167;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  margin-top: 20px;
}

.image-frame {
  margin: 0px auto;
  width: 35%;
  height: auto;
}

.image-frame img {
  width: 100%;
  height: auto;
  border: black 5px solid;
  border-radius: 20px;
}

.description {
  margin: 20px auto;
  width: 45%;
  height: auto;
}

.description h2 {
  color: #46351d;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 20px 0px;
}

.description p {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: center;

  padding: 10px 5px;

  border: 3px solid #ebbab9;
  border-radius: 20px;
}

.ingredients {
  margin: 20px auto;
  width: 40%;
  height: auto;
}

.ingredients h2 {
  color: #46351d;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 20px 0px;
}

.ingredients ul {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
}

.ingredients ul li {
  margin: 15px;
}

.steps {
  margin: 20px auto;
  width: 40%;
  height: auto;
}

.steps h2 {
  color: #46351d;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}

.steps ol {
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
}

.steps ol li {
  margin: 15px;
}
